<h1 style="background-color:#ff00cc"><center>Tweetgram</center></h1>
<%= form_for @user, url: {action: :create} do |nadaru| %>
<body bgcolor="#33ccff"><center><font size = "5"><%= nadaru.label :uid, "ユーザID:" %><br>
<%= nadaru.text_field :uid %><br>
<%= nadaru.label :pass, "パスワード:" %><br>
<%= nadaru.text_field :pass %><br>
<%= nadaru.submit "登録" %></font>
<%= link_to "戻る", users_path %></center></body>
<% end %>